<form class="searchform" (ngSubmit)="Submit()">
    <mat-grid-list cols="4" class="searchform">

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Node 1</mat-label>
                <input type="text" placeholder="Pick one" matInput [formControl]="node1Control"
                    [matAutocomplete]="node1">
                <mat-autocomplete autoActiveFirstOption #node1="matAutocomplete"
                    [displayWith]="getOptionText.bind(this)">
                    <mat-option *ngFor="let option of node1Options | async" [value]="option.id">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Relationship</mat-label>
                <mat-select [(value)]="relationship">
                    <mat-option>None</mat-option>
                    <mat-option value="Synergy">Synergy</mat-option>
                    <mat-option value="Interaction">Interaction</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Node 2</mat-label>
                <input type="text" placeholder="Pick one" matInput [formControl]="node2Control"
                    [matAutocomplete]="node2">
                <mat-autocomplete autoActiveFirstOption #node2="matAutocomplete"
                    [displayWith]="getOptionText.bind(this)">
                    <mat-option *ngFor="let option of node2Options | async" [value]="option.id">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <button mat-icon-button type="submit"><mat-icon>search</mat-icon></button>
        </mat-grid-tile>
    </mat-grid-list>
</form>
<div #graph class="graph" id="cy"></div>